	<style>
		.section{
			padding: 150px 0;
		}
	</style>
<section class="section">
	<div class="container">
		<div class="mx-auto">
			@using TourNhanh.Areas.Identity.Pages.Account
		</div>
	</div>
</section>