@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/logo-1.png" type="image/x-icon" />
    <title>TourNhanh - Đăng nhập</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/font-awesome.css">

    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/themify.css">

    <!-- Feather icon css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/feather-icon.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/bootstrap.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/style.css">

    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/responsive.css">
</head>

<body>
    <!-- Forgot password start-->
    <div class="login-section">
        <div class="materialContainer">
            <div class="box">
                <div class="login-title">
                    <h2>Đăng nhập</h2>
                </div>
                <form method="post" action="">
                    <div class="input">
                        <label for="password">Nhập mật khẩu</label>
                        <input type="password" name="password" class="is-invalid" id="password" />
                        <span class="spin"></span>
                    </div>
                    <div class="button login button-1">
                        <button type="submit">
                            <span>Send</span>
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Forgot password end-->
    <!-- latest jquery-->
    <script src="/admin/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="/admin/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Theme js-->
    <script src="/admin/assets/js/script.js"></script>
</body>

</html>