﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // Func f = new Func();
    // QueryData QD = new QueryData();
}

<div class="row">
    <!-- chart caard section start -->
    <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="b-b-primary border-5 border-0 card o-hidden">
            <div class="custome-1-bg b-r-4 card-body">
                <div class="media align-items-center static-top-widget">
                    <div class="media-body p-0">
                        <span class="m-0">Tổng đơn</span>
                        <h4 class="mb-0 counter">@ViewBag.TotalBookingsCount</h4>
                    </div>
                    <div class="align-self-center text-center">
                        <i data-feather="database"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  <div class="col-sm-6 col-xxl-3 col-lg-6">
    <div class="b-b-danger border-5 border-0 card o-hidden">
    <div class=" custome-2-bg  b-r-4 card-body">
    <div class="media static-top-widget">
    <div class="media-body p-0">
    <span class="m-0">Tổng đơn chờ duyệt</span>
    <h4 class="mb-0 counter">321</h4>
    </div>
    <div class="align-self-center text-center">
    <i data-feather="shopping-bag"></i>
    </div>
    </div>
    </div>
    </div>
    </div> *@

    @*  <div class="col-sm-6 col-xxl-3 col-lg-6">
    <div class="b-b-secondary border-5 border-0  card o-hidden">
    <div class=" custome-3-bg b-r-4 card-body">
    <div class="media static-top-widget">
    <div class="media-body p-0">
    <span class="m-0">Tổng đơn đã huỷ</span>
    <h4 class="mb-0 counter">121212</h4>
    </div>

    <div class="align-self-center text-center">
    <i data-feather="x-circle"></i>
    </div>
    </div>
    </div>
    </div>
    </div> *@

    <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="b-b-success border-5 border-0 card o-hidden">
            <div class=" custome-4-bg b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="media-body p-0">
                        <span class="m-0">Tổng người dùng</span>
                        <h4 class="mb-0 counter">@ViewBag.UserCount</h4>
                    </div>

                    <div class="align-self-center text-center">
                        <i data-feather="users"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- chart caard section End -->
    <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="b-b-success border-5 border-0 card o-hidden">
            <div class=" custome-4-bg b-r-4 card-body">
                <div class="media static-top-widget">
                    <div class="media-body p-0">
                        <span class="m-0">Doanh thu tạm tính</span>
                        <h4 class="mb-0 counter"> @String.Format("{0:N0} VND", ViewBag.TotalRevenue)</h4>
                    </div>

                    <div class="align-self-center text-center">
                        <i data-feather="activity"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>