<style>
    section {
        min-height: 500px;
    }

    .cart--container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        flex-flow: column;
        align-items: center;
    }

        .cart--container:first-child {
            width: 300px;
        }

        .cart--container .item--cart {
            /* align-self: flex-end */
            margin: 0px 0 50px 90px;
        }

    .title-gradient-h {
        font-size: 26px;
        text-transform: uppercase;
        background-color: #de0004;
        background-image: linear-gradient(90deg, #f00 0%, #122125 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .title-gradient
    }

    .title-gradient {
        font-size: 26px;
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-action="Index" asp-controller="Tour">Trang chủ</a></li>
                    <li><a asp-action="Index" asp-controller="Tour">Khám phá tour</a></li>
                    <li><a asp-action="YourTour" asp-controller="Booking">Tour của bạn</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
@* body *@
<section class="sucess-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2 style="margin: 20px 0 30px" class="title-gradient-h">Payment Failure</h2>

            </div>


            <div class="cart--container">
                <h2 class="text-danger">@TempData["Message"]</h2>
                <h3 style="max-width: 800px" class="title-gradient"> Tuyệt vời, cảm ơn bạn đã tin tưởng chúng tôi</h3>
                <img src="https://plus.unsplash.com/premium_photo-1681923752435-5231d83efbf2?q=80&w=1998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="auto" height="300px" />
                <div class="item--cart">
                    <a asp-action="Index" asp-controller="Tour">
                        <button class="btn-action" style="margin: 50px 0 50px -90px">
                            <i class="fa-solid fa-arrow-left"></i>
                            Trở về trang chủ
                        </button>
                    </a>
                </div>

            </div>

            @* <div class="col-md-5 order-details" style="margin-top: 86px;">
            <div class="section-title text-center">
            <h3 class="title-gradient">Your Order</h3>
            </div>
            <div class="order-summary">
            <div class="order-col">
            <div><strong>PRODUCT</strong></div>
            <div><strong>SUB TOTAL</strong></div>
            </div>
            @foreach (var item in ViewBag.CartOrder)
            {
            decimal subtotal = (int)item.Quantity * item.Price;
            Total += subtotal;
            <div class="order-products">
            <div class="order-col">
            <div>x1 @item.Name</div>
            <div>$@subtotal</div>
            </div>
            </div>
            }
            <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
            </div>
            <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">$@Total</strong></div>
            </div>
            </div>
            </div> *@
</section>
