﻿@if (string.IsNullOrEmpty(Context.Session.GetString("admin")))
{
    @*<script>window.location.href = "/Admin/Login";</script>*@
    Context.Response.Redirect(Url.Action("Index", "Login")!);
}
<!DOCTYPE html>
<html lang="vi" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Voxo admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Voxo admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon">
   
    <link rel="shortcut icon" href="~/img/logo-1.png" type="image/x-icon">
    <title>Tour Nhanh - Trang quản trị</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="/admin/assets/css/linearicon.css">

    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/font-awesome.css">

    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/themify.css">

    <!-- ratio css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/ratio.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/feather-icon.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/animate.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vendors/bootstrap.css">

    <!-- vector map css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/vector-map.css">

    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/slick-theme.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/style.css">

    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/responsive.css">

    <!-- Select2 css -->
    <link rel="stylesheet" type="text/css" href="/admin/assets/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper row m-0">
                <div class="header-logo-wrapper col-auto p-0">
                    <div class="logo-wrapper">
                        <a href="~/img/logo-1.png">
                            <img class="img-fluid main-logo" src="/admin/assets/images/logo/logo.png" alt="logo">
                            <img class="img-fluid white-logo" src="/admin/assets/images/logo/logo-white.png" alt="logo">
                        </a>
                    </div>
                    <div class="toggle-sidebar">
                        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                    </div>
                </div>
                <form class="form-inline search-full col" action="javascript:void(0)" method="get">
                    @*<div class="form-group w-100">
                    <div class="Typeahead Typeahead--twitterUsers">
                    <div class="u-posRelative">
                    <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text"
                    placeholder="Search Voxo .." name="q" title="" autofocus>
                    <i class="close-search" data-feather="x"></i>
                    <div class="spinner-border Typeahead-spinner" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                    </div>
                    <div class="Typeahead-menu"></div>
                    </div>
                    </div>*@
                </form>
                <div class="nav-right col-4 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li>
                            <span class="header-search">
                                <span class="lnr lnr-magnifier"></span>
                            </span>
                        </li>
                        @*<li>
                        <div class="mode">
                        <span class="lnr lnr-moon"></span>
                        </div>
                        </li>*@
                        <li class="profile-nav onhover-dropdown pe-0 me-0">
                            <div class="media profile-media">
                                <img class="user-profile rounded-circle" src="/admin/assets/images/users/4.jpg" alt="">
                                <div class="user-name-hide media-body">
                                    <span>Xin chào!</span>
                                    <p class="mb-0 font-roboto">Admin<i class="middle fa fa-angle-down"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li>
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                       href="javascript:void(0)">
                                        <i data-feather="log-out"></i>
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="~/Admin/Dashboard/Index" data-bs-original-title="" title="">
                            <img class="img-fluid for-dark" src="~/img/logo-admin.png"  alt="">
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="~/Admin/Dashboard/Index">
                            <img class="img-fluid main-logo" src="/admin/assets/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu" style="max-height: 100vh; overflow:scroll; padding: 20px 0 100px">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>
                                <li class="sidebar-main-title sidebar-main-title-3">
                                    <div>
                                        <h6 class="lan-1">General</h6>
                                        <p class="lan-2">Dashboards &amp; Users, ...</p>
                                    </div>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Dashboard">
                                        <i data-feather="home"></i>
                                        <span>Trang chủ</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Tour/Create">
                                        <i data-feather="plus-square"></i>
                                        <span>Thêm tour</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Category/Create">
                                        <i data-feather="plus-square"></i>
                                        <span>Thêm danh mục</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Location/Create">
                                        <i data-feather="plus-square"></i>
                                        <span>Thêm địa điểm</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Transport/Create">
                                        <i data-feather="plus-square"></i>
                                        <span>Thêm phương tiện</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Hotel/Create">
                                        <i data-feather="plus-square"></i>
                                        <span>Thêm khách sạn</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Tour/Index">
                                        <i data-feather="slack"></i>
                                        <span>Tour</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Category/Index">
                                        <i data-feather="sliders"></i>
                                        <span>Danh mục tour</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Location/Index">
                                        <i data-feather="map-pin"></i>
                                        <span>Địa điểm</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Hotel/Index">
                                        <i data-feather="coffee"></i>
                                        <span>Khách sạn</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Transport/Index">
                                        <i data-feather="box"></i>
                                        <span>Phương tiện</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Booking/Index">
                                        <i data-feather="archive"></i>
                                        <span>Đơn đặt</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="~/Admin/Customers">
                                        <i data-feather="users"></i>
                                        <span>Khách hàng</span>
                                    </a>
                                </li>         

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="#!">
                                        <i data-feather="file-text"></i>
                                        <span>Báo cáo - Góp ý - Liên hệ</span>
                                    </a>
                                </li>
                              

                            </ul>
                        </div>
                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <!-- index body start -->
            <div class="page-body">
                <div class="container-fluid">
                    @if (!string.IsNullOrEmpty((string)ViewData["msg"]))
                    {
                        <script>alert(`@Html.Raw(ViewData["msg"])`);</script>
                    }
                    @RenderBody()
                </div>
                <!-- Container-fluid Ends-->
                <!-- footer start-->
                <div class="container-fluid">
                    <footer class="footer">
                        <div class="row">
                            <div class="col-md-12 footer-copyright text-center">
                                <p class="mb-0">Tour Nhanh @@2024</p>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- footer End-->
            </div>
            <!-- index body end -->
        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Đăng xuất</h5>
                    <p>Bạn có muốn đăng xuất không?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no " data-bs-dismiss="modal">Không</button>
                        <a href="@Url.Action("Index", "Logout")" type="button" class="btn  btn--yes btn-primary">Có</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <!-- latest js -->
    <script src="/admin/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/admin/assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/admin/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/admin/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/admin/assets/js/scrollbar/simplebar.js"></script>
    <script src="/admin/assets/js/scrollbar/custom.js"></script>

    <!-- Sidebar jquery -->
    <script src="/admin/assets/js/config.js"></script>

    <!-- tooltip init js -->
    <script src="/admin/assets/js/tooltip-init.js"></script>

    <!-- Plugins JS -->
    <script src="/admin/assets/js/sidebar-menu.js"></script>
    <script src="/admin/assets/js/notify/bootstrap-notify.min.js"></script>
    @*<script src="/admin/assets/js/notify/index.js"></script>*@

    <!-- Apexchar js -->
    <script src="/admin/assets/js/chart/apex-chart/apex-chart1.js"></script>
    <script src="/admin/assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="/admin/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="/admin/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="/admin/assets/js/chart/apex-chart/chart-custom1.js"></script>

    <!-- customizer js -->
    @*<script src="/admin/assets/js/customizer.js"></script>*@

    <!-- ratio js -->
    <script src="/admin/assets/js/ratio.js"></script>

    <!-- select2 js -->
    <script src="/admin/assets/js/select2.min.js"></script>
    <script src="/admin/assets/js/select2-custom.js"></script>

    <!-- Theme js -->
    <script src="/admin/assets/js/script.js"></script>
    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
</body>

</html>