
@{
    ViewData["Title"] = "Delete";
}
@model TourNhanh.Models.Blog
<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;" />
    </div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-primary rounded-pill py-2 px-4">Quay lại</a>
    </div>
</form>


